$for(posts)$
    $body$
    $sep$
    <div class="separator">
    <span class="alignleft"><span class="background">&#9986;&#xFE0E;</span></span>
    <span class="aligncenter"><span class="background">&#9986;&#xFE0E;</span></span>
    <span class="alignright"><span class="background">&#9986;&#xFE0E;</span></span>
    </div>
$endfor$
<br />
<div class="arrow-left">
$if(previousPageNum)$
&#9664;&#xFE0E; <a href="$previousPageUrl$">Новые записи</a>
$endif$
<div class="arrow-right">
$if(nextPageNum)$
<a href="$nextPageUrl$">Предыдущие записи</a> &#9654;&#xFE0E;
$endif$
</div>
</div>
